
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 0;
}

h1 {
  text-transform: uppercase;
  color: #900;
  font-weight: 300;
}

h2 {
  text-align: left;
  color:#555;
  margin-top: 20px;
  width: 100%;
}

h3 {
  font-size: 36px;
}

p {
  font-weight: 700;
  font-style: italic;
  color: #999;
}

img {
  max-width: 100%;
}

a {
  color: #999;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  min-width: 48px;
  min-height: 48px;
}

hr {
  color: #999;
  margin-bottom: 5px;
}

.fullwidth {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sample {
  width: calc(100% * 1/4);
  padding: 10px;
}

.grid {
  padding-top: 15px;
  max-width: 1200px;
  width: 100%;
  background: linear-gradient(130deg, #fff, #ddd);
}

.logo {
  width: calc(100% * 4/6);
  max-width: 400px;
  height: auto;
  max-height: 100px;
}


.name {
  width: calc(100% * 2/6);
}
.end {
  text-align: right;
  padding-right: 15px;
}

.centerpiece {
  max-width: 800px;
  width: 100%;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  h1,
  h2,
  h3 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }

  .sample {
    width: 50%;
    margin:0 auto 20px auto;
  }

  .name {
    width: calc(100% * 1/2);
  }
  .logo {
    width: calc(100% * 1/2);
  }
}

@media only screen and (max-width: 500px) {

  h1 {
    font-size: 24px;
  }

  h2,
  h3 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  .sample {
      width: 100%;
  }

  .logo {
    width: calc(100% * 1/3);
  }

}
